doctype html
html
  head
    title= title
    link(rel="shortcut icon" href="/public/outputDir/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(style='background-color:blue;height:80px;color:white;')
        h1(style='line-height:80px;padding-left:20px') Signup Page
    block content

    script(type="text/javascript" src="/javascripts/jquery/dist/jquery.js")
    script(type="text/javascript" src="/javascripts/scripts.js")